<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Err</title>
    <link rel="stylesheet" href="../Css/err.css">
    <link rel="stylesheet" href="../Css/overall.css">
    <script src="https://kit.fontawesome.com/1ee5d6d5b7.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="error--container">
        <div class="err--title">
            <p class="text--errtitle">
                <i class="fas fa-exclamation-triangle"></i>Your e-mail or password is incorrect
            </p>
            
        </div>
        <div class="err--instruction">
            <p class="text--errinstruction">
                Seems that the e-mail or password you input is incorrect. You can have a check and try again.
            
            </p>
            <p class="text--errinstruction">
                Click the button below to go back to homepage.
            </p>

        </div>
        <div class="err--buttoncontainer">
            <a class="btn--err btn--solid" href="./homepage.html">Back to homepage</a>
        </div>


    </div>
    
</body>
</html>