<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <link rel="stylesheet" href="../Css/overall.css">
    <link rel="stylesheet" href="../Css/overview.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Css/calendar.css">
	
    <script src="https://kit.fontawesome.com/1ee5d6d5b7.js" crossorigin="anonymous"></script>
    <script src="../Javascript/bootstrap.min.js"></script>
    <script src="../Javascript/jquery.min.js"></script>
    <script src="../Javascript/main.js"></script>
    <script src="../Javascript/popper.js"></script>
    <script src="../Javascript/loginModal.js"></script>
    <script src="../Javascript/sidebar.js"></script>
    <script src="../Components/header.js"></script>
    <script src="../Components/sidebar.js" type="text/javascript" defer></script>

</head>

<body class="flexbox workspace--flex">
   
    <!-- <sidebar-component></sidebar-component> -->
    <div class = "workspace--flexchild2  sidebar ">
        <div class = "logo_content">
            <div class = "logo">               
                <div class = "logo_name"> ApexPredator </div>
                <i class="fas fa-bars" id="btn" onclick="expandSideBar()"></i>
            </div>
        </div>

        <ul class="nav_list">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class = "tooltip">Dashboard</span>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-user-friends"></i>
                    <span class="links_name">Contacts</span>
                </a>
                <span class = "tooltip">Contacts</span>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-tasks"></i>
                    <span class="links_name">Tasks</span>
                </a>
                <span class = "tooltip">Tasks</span>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-user-circle"></i>
                    <span class="links_name">Profile</span>
                </a>
                <span class = "tooltip">Profile</span>
            </li>             
        </ul> 
    </div>
    
    

    <div class="workspace--flexchild2 home_content">
        <header-component></header-component>
      
            

        

        <div class="content-container">
            
            <p>content...</p>

        </div>

       
           
        
            
        

    </div>
    

   
</body>
</html>